<script type='text/javascript'>
    var blockHeight = 340;
    var blockWidth = 370;
    var nbColumns = 6;

    function resetZoom() {
        var wHeight = $(window).height();
        var wWidth = $(window).width();

        if (wWidth < (nbColumns * blockWidth)) {
            var ratio = ((wWidth - 50) / (nbColumns * blockWidth)) * 100;
            document.body.style.zoom = ratio + "%";
        } else {
            if (wHeight < (3 * blockHeight)) {
                var ratio = ((wHeight - 20) / (3 * blockHeight)) * 100;
                document.body.style.zoom = ratio + "%";
            }
        }
    }

    // Refresh page each 1hour to make sure counters are blocked
    setTimeout(function() { window.location.href = window.location.href; }, 1000 * 60 * 60 * 1);

    $(function () {
        var md = new MobileDetect(window.navigator.userAgent);
        var isMobile = false;

        if (md.mobile() || md.phone() || md.tablet()) {
            isMobile = true;
        }

        Dashing.widget_base_dimensions = [ blockWidth, blockHeight ];
        Dashing.numColumns = isMobile ? 3 : nbColumns;

        if (isMobile) {
            Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":2,"size_y":1},{"col":2,"row":4,"size_x":1,"size_y":1},{"col":3,"row":4,"size_x":1,"size_y":1},{"col":2,"row":5,"size_x":2,"size_y":1},{"col":1,"row":3,"size_x":1,"size_y":1},{"col":2,"row":3,"size_x":1,"size_y":1},{"col":3,"row":3,"size_x":1,"size_y":1},{"col":1,"row":6,"size_x":1,"size_y":1},{"col":1,"row":5,"size_x":1,"size_y":1},{"col":2,"row":6,"size_x":2,"size_y":1},{"col":1,"row":4,"size_x":1,"size_y":1}]');
        }

        resetZoom();
        $( window ).resize(function() { resetZoom(); });
    });
</script>

<% content_for :title do %> Selency.com - General <% end %>

<div class="gridster">
  <ul>
    <!-- li data-col="1" data-row="3" data-sizex="1" data-sizey="1">
      <div data-id="picture" data-view="BigImage" data-image="https://assets.selency.co/img/main-logo.png" style="background-color:#ffffff;"></div>
    </li -->

    <!-- li data-col="1" data-row="3" data-sizex="1" data-sizey="1">
      <div data-view="Countdown" data-title="Pimp PARTY" data-end="26-Oct-2017 20:00:00"></div>
    </li -->

    <!-- === -->
    <!-- GMV -->
    <!-- === -->

    <li data-col="1" data-row="1" data-sizex="1" data-sizey="1">
      <div data-id="week_gmv" data-view="SelencyNumber" style="background-color: #d16c1e;"></div>
    </li>

    <li data-col="1" data-row="2" data-sizex="1" data-sizey="1">
      <div data-id="month_gmv" data-view="SelencyPeriod" style="background-color: #d16c1e;"></div>
    </li>

    <li data-col="2" data-row="1" data-sizex="1" data-sizey="1">
      <div data-id="today_gmv" data-view="SelencyNumber" data-graphtype="lineplot" data-title="Today GMV"></div>
    </li>

    <li data-col="3" data-row="1" data-sizex="1" data-sizey="1">
      <div data-id="yesterday_gmv" data-view="SelencyNumber" data-graphtype="lineplot" data-title="Yesterday GMV"></div>
    </li>

    <li data-col="2" data-row="2" data-sizex="2" data-sizey="1">
      <div data-id="avg_gmv" data-view="SelencyGraph" data-title="Avg GMV /day"></div>
    </li>

    <!-- ====== -->
    <!-- ORDERS -->
    <!-- ====== -->

    <li data-switcher-interval="5000" data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="today_orders" data-view="SelencyNumber" data-graphtype="lineplot" data-title="Today orders" style="background-color: #f9ae57;"></div>
      <div data-id="today_aov" data-view="SelencyNumber" data-graphtype="lineplot" data-title="Today AOV" style="background-color: #d16c1e;"></div>
    </li>

    <li data-switcher-interval="5000" data-col="5" data-row="1" data-sizex="1" data-sizey="1">
      <div data-id="yesterday_orders" data-view="SelencyNumber" data-graphtype="lineplot" style="background-color: #f9ae57;"></div>
      <div data-id="yesterday_aov" data-view="SelencyNumber" data-graphtype="lineplot" style="background-color: #d16c1e;"></div>
    </li>

    <li data-switcher-interval="5000" data-col="4" data-row="2" data-sizex="2" data-sizey="1">
      <div data-id="avg_orders" data-view="SelencyGraph" style="background-color: #f9ae57;"></div>
      <div data-id="avg_aov" data-view="SelencyGraph" style="background-color: #d16c1e;"></div>
    </li>

    <!-- === -->
    <!-- AOV -->
    <!-- === -->

    <!-- li data-col="3" data-row="3" data-sizex="1" data-sizey="1">
      <div data-id="today_aov" data-view="SelencyNumber" style="background-color: #f9ae57;"></div>
    </li>

    <li data-col="2" data-row="3" data-sizex="1" data-sizey="1">
      <div data-id="week_aov" data-view="SelencyNumber" style="background-color: #f9ae57;"></div>
    </li>

    <li data-col="1" data-row="3" data-sizex="1" data-sizey="1">
      <div data-id="month_aov" data-view="SelencyNumber" style="background-color: #f9ae57;"></div>
    </li -->

    <!-- =========================== -->
    <!-- PUBLISHED/ACCEPTED PRODUCTS -->
    <!-- =========================== -->

    <li data-switcher-interval="12000" data-col="1" data-row="3" data-sizex="1" data-sizey="1">
      <div data-id="month_accepted_products" data-view="SelencyPeriod" style="background-color: #85C36C;"></div>
      <div data-id="algolia_popular_searches" data-view="List"></div>
    </li>

    <li data-col="2" data-row="3" data-sizex="1" data-sizey="1">
      <div data-id="week_accepted_products" data-view="SelencyNumber" style="background-color: #85C36C;"></div>
    </li>

    <li data-col="3" data-row="3" data-sizex="1" data-sizey="1">
      <div data-id="today_accepted_products" data-view="SelencyNumber" style="background-color: #85C36C;"></div>
    </li>

    <!-- ======================== -->
    <!-- TRANSACTIONS PER SESSION -->
    <!-- ======================== -->

    <li data-col="6" data-row="1" data-sizex="1" data-sizey="1">
      <div data-id="today_transaction_per_session" data-view="ConversionRate" data-title="Today Conversion Rate" data-suffix="%" style="background-color: #6faec3;"></div>
    </li>

    <li data-col="6" data-row="2" data-sizex="1" data-sizey="1">
      <div data-id="weekly_transaction_per_session" data-view="ConversionRate" data-title="Avg Conversion Rate" data-suffix="%" style="background-color: #6faec3;"></div>
    </li>

    <!-- ======== -->
    <!-- VISITORS -->
    <!-- ======== -->

    <li data-col="4" data-row="3" data-sizex="2" data-sizey="1">
      <div data-id="real_time_visitors" data-view="Visitors" data-title="Realtime visitors" style="background-color: #13758b;"></div>
    </li>

    <li data-switcher-interval="20000" data-col="6" data-row="3" data-sizex="1" data-sizey="1">
      <div data-id="week_visitors" data-view="WeekVisitors" data-title="Weekly visitors"></div>
      <div data-id="instadash" data-view="Instadash"></div>
    </li>
  </ul>
</div>
