<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="description" content="Selency.com - Dashing">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= yield_content(:title) %></title>

  <!-- The javascript and css are managed by sprockets. The files can be found in the /assets folder-->
  <script type="text/javascript" src="/assets/application.js"></script>
  <link rel="stylesheet" href="/assets/application.css">

  <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <style type='text/css'>
      #dc-switcher-next { padding-left: 5px; }
      #dc-switcher-next-name, #dc-switcher-countdown { color: #ddd; }
      #dc-switcher-pause-reset { padding-left: 5px; }
      #dc-switcher-controls { text-align:center; margin-left: auto; maring-right: auto; }
      #dc-switcher-stopper:hover, #dc-switcher-next:hover { cursor: pointer; cursor: hand;}
      .switcher-text { color: white; font-weight: bold }
  </style>

  <link rel="icon" href="/assets/favicon.ico">

  <!-- refresh page each 30 minutes -->
  <meta http-equiv="refresh" content="1800">
</head>
<body>

<!-- div id="saving-instructions">
  <p>Paste the following at the top of <i><%= params[:dashboard] %>.erb</i></p>
  <textarea id="gridster-code"></textarea>
</div>
<a href="#saving-instructions" id="save-gridster">Save this layout</a -->

    <div id="container"> <!--  data-switcher-interval="10000" data-switcher-dashboards="dashboard-general dashboard-realtime" -->
        <%= yield %>
    </div>

    <!-- Switcher Controls -->
    <!-- div id='dc-switcher-controls'>
        <dashboard-name-template>
            <span class='switcher-text'>Next:</span>
            <em>&ensp;$nextName&ensp;</em>
            <span class='switcher-text'>in&ensp;</span>
        </dashboard-name-template>
    </div -->
</body>
</html>